pydantic
python-dotenv
pdfplumber
python-docx
docx2txt
fastapi
uvicorn
streamlit
langgraph
rich
numpy
openai
pandas
langchain
python-dotenv
pydantic-settings
langchain_openai
pytest
azure-cognitiveservices-speech
streamlit-audiorec
soundfile
langgraph